= form_for @answer ,:url=>{:action=>"create"} do |f|
  = f.select :questions_id , options_for_select(Question.all.collect {|i| [i.question_name,i.id |
    ]})                                                                                         |
  %br/
  = f.text_field :answer_name
  %br/
  = f.hidden_field :field_name
  = f.submit "Submit Answer"
